.container {
  position: relative;
  margin-top: 10px;
  margin-left: 220px;
  margin-right: 220px;
  padding-bottom: 10px;
  min-height: 500px;
  box-shadow: 0px 0px 10px 2px #bbb;
}

.text {
  position: relative;
  padding-top: 10px;
  margin-left: 10px;
}

.todoElement {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.completed .text {
  text-decoration: line-through;
}

.clearButton {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.closeButton {
  float: right;
}
